body {
  background-color: #000;
  color: #fff;
  font-family: 'Audiowide', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  grid-gap: 20px; /* Space between images */
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 150px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 15px #0ff;
}

.gallery img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 25px #0ff;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  background-color: #333;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input-container {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Vertically align items in the middle */
  justify-content: center; /* Horizontally center items, can adjust based on preference */
  gap: 10px; /* Space between the input field and feedback message */
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#image-input {
  display: block;
  width: 75%;
  padding: 10px;
  margin-top: 0px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background: #111;
  color: #0ff;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
  box-shadow: 0 0 15px #0ff;
  display: flex; /* Use flexbox for layout */
  justify-content: center;
}

#image-input::placeholder {
  color: #0ff;
}

#feedback {
  top: 100%;
  left: 0;
  width: 100%;
  bottom: -30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  opacity: 0;
  white-space: no wrap;
  transition: opacity 0.5s;
}

/* Glow effects */
.input-correct {
  box-shadow: 0 0 15px #0f0;
}

.input-wrong {
  box-shadow: 0 0 15px #f00;
}

#modal-img {
  max-width: 90%; /* Adjust the max width as per your design */
  max-height: 80vh; /* Adjust the max height to be within the viewport */
  display: block; /* To center the image in the modal */
  margin: 0 auto; /* Center the image */
}

/* Styling for the Instructions Button */
.glow-button {
  padding: 30 50px;
  font-family: 'Audiowide', sans-serif;
  border: 2px solid #0ff; /* Bright cyan border */
  background-color: rgb(0,0,0,0.9);
  color: #0ff; /* Cyan text */
  cursor: pointer;
  margin: 50px;
  border-radius: 5px;
  font-size: 22px;
  animation: pulse 2s infinite;
  text-shadow: 0 0 5px #0ff; /* Cyan text glow */
  box-shadow: 0 0 10px #0ff, inset 0 0 10px #00c; /* Outer and inner glows */
  transition: all 0.3s ease;
}

.glow-button:hover {
  box-shadow: 0 0 50px #0ff, inset 0 0 30px #00c; /* Enhanced glow on hover */
  background-color: #0ff;
  color: #000000;
  transform: scale(1.2);
}

/* Styling for the Instructions Modal */
#instructions-modal .modal-content {
  background: #111; /* Dark background */
  color: #0ff; /* Cyan text */
  border: 1px solid #0ff; /* Cyan border */
  box-shadow: 0 0 15px #0ff, inset 0 0 10px #00c; /* Outer and inner glows */
  border-radius: 10px;
  padding: 20px;
  text-align: center; /* Center the text inside the modal */
  font-size: 16px;
  position: relative; /* For positioning the close button */
}

/* Styling for the Close Button within Modals */
.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #0ff; /* Cyan text */
  text-shadow: 0 0 5px #0ff; /* Cyan glow */
  cursor: pointer;
}

.modal-content .close:hover {
  color: #fff; /* Change color on hover for a visual feedback */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px #0ff, inset 0 0 10px #00c;
  }
  50% {
    box-shadow: 0 0 20px #0ff, inset 0 0 15px #00c;
  }
  100% {
    box-shadow: 0 0 10px #0ff, inset 0 0 10px #00c;
  }
}
